<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/side_bar" %>
  <%#= render "topic_main" %>
  <div class="main-page">
    <div class="main-header">
    </div>
    <div class="main-contents">
      <div class="form__wrapper">
        <h2 class="page-heading">新規投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial:"form", locals: { topic: @topic } %>
      </div>
    </div>
  </div>
  <%#= render "topic_show" %>
</div>

<%= render "shared/footer" %>
