// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
  overflow: scroll;
}

.card {
  width: calc((100% - 60px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
  width: 100%;
}

.card__body {
  padding: 0.5em 1em;
  margin: 2em 0;
  background:rgba(255,255,255,0.7);
  border: double 5px #4ec4d3;
}

.card__body p {
  margin: 0; 
  padding: 0;
}

.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: none;
}

.card__summary-2 {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.card-re {
  width: 25%;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #000000;
  text-align: right;
  text-decoration: underline;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.user__wrapper{
  height: 80vh;
  overflow: scroll;
  padding: 0 auto;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 70%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background:rgba(255,255,255,0.7);
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 40%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  background:rgba(255,255,255,0.7);
  width: 60%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.detail-contents-top {
  width: 100%;
  height: 20vh;
  text-align: center;
}

.user_rec {
  width: calc(80% - 10px);
  margin-bottom: 40px;
  padding-left: 10px;
}

.user_rec_body {
  background-color: white;
}

.side-main-back-user {
  height: 85%;
  width: 100%;
  border: double 5px #ff96ff;
  padding-top: 20px;
}

.side-main-back-user-show {
  height: 85%;
  width: 100%;
  padding-top: 20px;
}

.title-char-user {
  text-align: center;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  background-color: green;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
}



.side-bar-user-main {
  height: 80%;
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  overflow: scroll;
}

.search-box {
  width: 100%;
  height: 30%;
  background-color: rgba(255,255,255,0.7);
  padding-top: 20px;
  // padding-left: 120px;
}

.search-title {
  height: 8vh;
  width: 80%;
  text-align: start;
}

.search-title2 {
  height: 3vh;
  width: 80%;
  text-align: start;
}

.search-user {
  width: 20%;
  text-align: center;
  margin-left: 150px;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  background-color: blue;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
}

.search-user-result {
  width: 20%;
  text-align: center;
  margin-left: 50px;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  background-color: purple;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
}

.search-mini-box {
  display: flex;
}
.search-left {
  width: 50%;
  display: flex;
}

.search-right {
  width: 50%;
}

.search-btn {
  width: 60%;
}

.search_result {
  width: 20%;
  text-align: center;
  margin-left: 150px;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  background-color: blue;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
}

.return_index {
  padding: 5px 10px;
  background-color: gray;
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
}

.back_user {
  text-decoration: none;
  color: white;
}