// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.wrapper-topics {
  height: 100vh;
  width: 100vw;
  background-image: image-url('background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}











.detail {
  height: 100%;
  width: 25%;
  // background:rgba(0,255,0,0.5);
  border-right: solid 1px white;
}

.detail-top {
  height: 15vh;
  width: 100%;
  background:rgba(255,255,255,0);
}

.detail-contents {
  height: calc(100% - 100px);
  width: 100%;
}

.wrapper-top {
  height: 100%;
  width: 100%;

}

.top-main {
  height: 85%;
  width: 100%;
  // background:rgba(255,255,255,0.5);
  overflow: scroll;
}

.column {
  height: 50%;
  background:rgba(255,255,255,0.5);
  display: flex;
  margin-bottom: 15vh;
}

.image-box {
  width: 50%;
  text-align: center;
}

.top-image {
  height: 100%;
  width: 100%;
}

.text-box {
  padding-top: 20px;
  height: 80%;
  width: 50%;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-size: 36px;
}

.text-contents {
  color: black;
  font-size: 24px;
}